<div style="display: flex; justify-content: center; margin-top: 80px;">
  <h2> GESTIÓN DE VEHÍCULOS</h2>
</div>
<div style="display: flex; justify-content: center;">
  <div style="display: flex; justify-content: center; width: 90%; margin-top: 50px;">
    <table mat-table [dataSource]="vehicles" class="mat-elevation-z8" style="width: 80%;">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
        <td mat-cell *matCellDef="let vehicle" style="text-align: center;"> {{vehicle.id}} </td>
      </ng-container>
      <ng-container matColumnDef="vin">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> VIN </th>
        <td mat-cell *matCellDef="let vehicle" style="text-align: center;"> {{vehicle.vin}} </td>
      </ng-container>
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Placa </th>
        <td mat-cell *matCellDef="let vehicle" style="text-align: center;"> {{vehicle.placa}} </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Modelo </th>
        <td mat-cell *matCellDef="let vehicle" style="text-align: center;"> {{vehicle.modelo}} </td>
      </ng-container>
      <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estatus </th>
        <td mat-cell *matCellDef="let vehicle" style="text-align: center;"> {{vehicle.estatus}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </th>
        <td mat-cell *matCellDef="let vehicle" style="text-align: center;">
          <button mat-button (click)="openEditDialog(vehicle)">Edit</button>
          <button mat-button (click)="deleteVehicle(vehicle.id)">Delete</button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <button mat-button (click)="openCreateDialog()">Add new car</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr style="display: flex; justify-content: center;" mat-footer-row *matFooterRowDef="['actions']"></tr>
    </table>
  </div>
</div>